<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/chat/public/css/style.css">
</head>

<body>
    <div class="body-container">
        
        <header>
            <img id="logo" src="/chat/public/img/libchat2.png">
        </header>
        <main>
            <div id="conversation"></div>
        </main>
        <footer>
            <div class="custom-file-upload">
                <input type="file" class="files" multiple>
            </div>

            <input type="text" id="data" placeholder="Write a message...">
            <div class="custom-send-button">
                <input type="button" id="send-message-button">
            </div>

            <div class="progress-bar" id="progress-bar">
                <div class="progress-bar-fill">
                    <span class="progress-bar-text">0%</span>
                </div>
            </div>

            <div id="popup1" class="overlay">
                <div class="send-files-confirmation">
                  <h2>Here i am</h2>
                  <a class="close" href="#">&times;</a>
                  <div class="content">
                    Thank to pop me out of that button, but now i'm done so you can close this window.
                    <input type="button" id="upload-files-button" value="Upload" onclick="uploadFiles()">
                  </div>
                </div>
            </div>
        </footer>
    </div>
    <aside>
        <div id="chat-info-container">

            <% if (roomName.split("_")[0] == "private") { %>
            <img id="avatar" src="/main_page/uploads/avatars/<%= user_id %>/<%= avatar %>">
            <% } else { %>
            <img id="avatar" src="/main_page/uploads/groupchats/<%= roomName %>/avatar/<%= avatar %>">
            <input type="file" class="avatar_input">
            <input type="button" id="upload_avatar" value="Set" onclick="uploadAvatar()">
            <% } %>

            <h3 id="nickname-tag">Tom_JackSON#9562</h3>
        </div>

        <div class="menu">
            <span id="menu-images" class="menu-item">Images</span>
            <span id="menu-files" class="menu-item">Files</span>
        </div>

        <div id="images-container"></div>
        <div id="files-container"></div>
    </aside>
</body>
<script>
    const roomName = "<%= roomName %>";
    const nickname = "<%= nickname %>";
    const avatar = "<%= avatar %>";
    const user_id = "<%= user_id %>";
    const _id = "<%= _id %>";
</script>
<script src="/node2/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/chat/public/js/script.js"></script>
</html>

