<!DOCTYPE html>
<script>
	const roomName = "<%= roomName %>";
	const nickname = "<%= nickname %>";
	const avatar = "<%= avatar %>";
	const user_id = "<%= user_id %>";
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/chat/public/js/script.js"></script>
<link rel="stylesheet" href="/chat/public/css/style.css">

<div style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;">

	<div class="avatar">
		<% if (avatar.split("_")[0] == "private") { %>
			<img src="/main_page/uploads/avatars/<%= user_id %>/<%= avatar %>" width="50px" height="50px">
		<% } else { %>
			<img src="/main_page/uploads/groupchats/<%= roomName %>/avatar/<%= avatar %>" width="50px" height="50px">
			<input type="file" class="avatar_input">
			<input type="button" id="upload_avatar" value="Set" onclick="uploadAvatar()">
		<% } %>
	</div>

	<div id="conversation">
		<div id="history"></div>
	</div>

	<input id="data" style="width:200px;">
	<input type="button" id="send" value="send">


	<input type="file" class="files" multiple>
	<input type="button" id="upload" value="Upload" onclick="uploadFiles()">


	<div class="progress-bar" id="progress-bar">
		<div class="progress-bar-fill">
			<span class="progress-bar-text">0%</span>
		</div>
	</div>
	
</div>
