<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/main_page/public/js/script.js"></script>
<script>
	const _id = "<%= _id %>";
	const avatar = "<%= avatar %>";
</script>
<div style="float:left;width:100px;border-right:1px solid black;height:300px;padding:10px;overflow:scroll-y;">
	<b>Chats</b>
	<div id="chats">
		<ul>
			<% chats.forEach(function( eachChat ){ %>
				<li> 
					<form action="/chat" method="POST">
						<input name="nickname" type="hidden" value="<%= nickname %>">
						<input name="chat" type="hidden" value="<%= eachChat.chat_id %>">
						<% if (eachChat.chat_id.split("_")[0] == "private") { %>
							<img src="/main_page/uploads/avatars/<%= eachChat.user_id %>/<%= eachChat.avatar %>" width="50px" height="50px">
						<% } else { %>
							<img src="/main_page/uploads/groupchats/<%= eachChat.chat_id %>/avatar/<%= eachChat.avatar %>" width="50px" height="50px">
						<% } %>
						<button type="submit"><%= eachChat.chat_name %></button>
					</form>
				</li>
			<% }) %>
		</ul>
	</div>
</div>

<form method="POST" action="/add_friend" class="addFriend">
	<label for="reciever_nickname">Nickname</label>
	<input type="text" placeholder="user_12345" name="reciever_nickname">
	<label for="reciever_tag">Tag</label>
	<input type="text" placeholder="#9999" name="reciever_tag">
	<input type="hidden" value="<%= _id %>" name="sender_id">
	<input name="sender_nickname" type="hidden" value="<%= nickname %>">
	<input type="submit" value="Add">
</form><br><br>


<form method="POST" action="/create_chat" class="createChat">
	<input type="text" name="name" placeholder="Name of a chat">
	<% friends.forEach(function( eachChat ){ %>
		<input type="checkbox" name="reciever_id" value="<%= eachChat.user_id %>"><%= eachChat.chat_name %><br>
	<% }) %>
	<input type="hidden" value="<%= _id %>" name="sender_id">
	<input type="submit" value="Create">
</form>


<input type="file" class="file">
<input type="button" id="upload" value="Upload" onclick="upload()">

<div class="avatar"></div>

