<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/change_info/public/style.css">
	<title>Document</title>
</head>
<body>

<a href="/main_page?id=<%= id %>" id="back-link">Back</a>

<header>
	<img id="logo" src="/change_info/public/img/libchat2.png">
</header>

<div id="change_data">
	<form id="change_data_form">
		<input type="hidden" name="id" value="<%= id %>">
		<label for="nickname">Nickname</label>
		<input type="text" placeholder="user_12345" name="nickname" value="<%= nickname %>"><br>
		<label for="email">Email</label>
		<input type="email" placeholder="example@example.com" name="email" value="<%= email %>"><br>
		<label for="password">Password</label>
		<input type="password" placeholder="********" name="password" value="<%= password %>"><br>
		<input type="submit" value="Save" class="save_changes">
	</form>
</div>

<div id="notification">Changes are saved</div>

</body>

<script>
    const id = "<%= id %>";
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script defer src="/change_info/public/script.js"></script>

</html>
